<div class="flex bg-slate-950 min-h-screen">
  @if (isLogged) {
    <app-sidebar class="fixed top-0 left-0 h-screen z-50" (abrirFormulario)="abrirModal()"></app-sidebar>
  }

    @if (isLogged) {
      <div class="flex flex-col flex-1 ml-20 min-h-screen">
        <!-- <app-header></app-header> -->
        <main class="flex-1 overflow-y-auto">
          @if (currentPath === '/') {
            <app-boas-vindas-logado></app-boas-vindas-logado>
          }

          @if (currentPath === '/filmes') {
            <app-lista-filme></app-lista-filme>
          }

          @if (currentPath.startsWith('/filmes/')) {
            @if (currentPath.endsWith('/atualizar')) {
              <app-atualizar-filme [id]="getIdFromPath()"></app-atualizar-filme>
            } @else {
              <app-detalhe-filme [id]="getIdFromPath()"></app-detalhe-filme>
            }
          }
        </main>
      </div>
    } @else {
      <div class="flex flex-col flex-1 min-h-screen">
        <main class="flex-1 overscroll-y-auto">
          <app-boas-vindas-deslogado></app-boas-vindas-deslogado>
        </main>
      </div>
    }
</div>

@if (showMovieForm) {
  <div class="fixed inset-0 bg-black/70 backdrop-blur-md z-50 flex items-center justify-center">
    <div class="relative w-full max-w-3xl mx-auto bg-slate-900/70 backdrop-blur-xl rounded-2xl p-6 shadow-2xl overflow-visible">
      <button (click)="fecharModal()"
        class="absolute -top-4 -right-4 bg-slate-800/80 hover:bg-blue-500 text-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg border border-slate-700 transition-all duration-300"
        title="Fechar">
        ✕
      </button>

      <app-criar-filme (fechar)="fecharModal()"></app-criar-filme>
    </div>
  </div>
}