version: "3.9"

services:
  auth-service:
    build: ./authentication
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8081
    networks:
      - mynetwork

  soap-service:
    build: ./movies
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    networks:
      - mynetwork
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  gateway-service:
    build: ./gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8080
      - AUTH_SERVICE_URL=http://auth-service:8081/auth
      - SOAP_SERVICE_URL=http://soap-service:5000
    depends_on:
      - auth-service
      - soap-service
    networks:
      - mynetwork

  web-client:
    build: ./client
    ports:
      - "80:80"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge