<div class="relative min-h-screen bg-slate-950 overflow-hidden">

  <!-- BANNER DINÂMICO -->
  <div
    class="absolute h-[75vh] inset-0 bg-cover bg-center transition-all duration-700 ease-in-out"
    [style.background-image]="'url(' + mainBannerUrl() + ')'">
  </div>

  <!-- OVERLAYS -->
  <div class="absolute h-[75vh] inset-0 bg-linear-to-r 
              from-slate-900/60 via-transparent to-slate-900/60 pointer-events-none"></div>

  <div class="absolute h-[75vh] inset-0 bg-linear-to-b 
              from-transparent via-slate-950/80 to-slate-950 pointer-events-none"></div>

  <!-- CONTEÚDO POR CIMA DO FUNDO -->
  <div class="relative z-10 min-h-screen text-white p-8 flex gap-8">

    <!-- MAIN -->
    <main class="flex-1">

      <h1 class="text-4xl font-bold mb-8 drop-shadow-lg">
        Lista de Filmes
      </h1>

      @if (movies().length > 0) {
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
          @for (movie of movies(); track movie.id) {
            <app-card-filme [movie]="movie" tamanho="md"></app-card-filme>
          }
        </div>
      }

      @if (movies().length === 0) {
        <div class="text-center text-xl opacity-60 mt-20">
          Nenhum filme encontrado com esses filtros.
        </div>
      }

    </main>

    <!-- ASIDE / FILTROS -->
    <aside class="w-full max-w-xs bg-slate-900/90 backdrop-blur rounded-xl p-6 shrink-0 shadow-lg">

      <h2 class="text-2xl font-bold mb-6">
        Filtros
      </h2>

      <div class="flex flex-col gap-4">

        <input
          type="text"
          placeholder="Nome do filme"
          class="p-2 rounded bg-slate-700 text-white"
          [field]="filtroForm.nome"
        />

        <input
          type="text"
          placeholder="Nome do diretor"
          class="p-2 rounded bg-slate-700 text-white"
          [field]="filtroForm.diretor"
        />

        <input
          type="text"
          placeholder="Nacionalidade"
          class="p-2 rounded bg-slate-700 text-white"
          [field]="filtroForm.nacionalidade"
        />

        <input
          type="number"
          placeholder="ID do usuário"
          class="p-2 rounded bg-slate-700 text-white"
          [field]="filtroForm.idUsuario"
        />

        <label class="flex items-center gap-2 mt-2 text-sm">
          <input type="checkbox" [field]="filtroForm.apenasMeus" />
          <span>Listar apenas meus filmes</span>
        </label>

        <div class="flex gap-3 pt-4">
          <button
            (click)="buscarFilmes()"
            class="bg-blue-500 hover:bg-blue-400 px-4 py-2 rounded text-white w-full transition"
          >
            Filtrar
          </button>

          <button
            (click)="limparFiltros()"
            class="bg-gray-600 hover:bg-gray-500 px-4 py-2 rounded text-white w-full transition"
          >
            Limpar
          </button>
        </div>

      </div>
    </aside>

  </div>
</div>
