<div class="relative min-h-screen flex items-center justify-center bg-slate-950 overflow-hidden">

    <div class="absolute inset-0 bg-slate-950 bg-opacity-60"></div>

    <div class="relative z-10 w-full max-w-sm">

        <a routerLink="/" class="text-sm text-gray-300 hover:text-white transition block mb-4">
            ← Voltar para o início
        </a>

        <div class="backdrop-blur-xl bg-white/10 p-8 rounded-2xl shadow-xl border border-white/20">

            <h1 class="text-3xl font-extrabold text-center mb-6 text-white drop-shadow">
                <span class="text-blue-400">MyMovies</span> — Login
            </h1>

            <p class="text-gray-300 text-center mb-6 text-sm leading-relaxed">
                Entre e continue sua jornada cinematográfica<br />
                avaliando filmes, guardando favoritos e explorando novas histórias.
            </p>

            <div class="flex flex-col gap-4">

                <input type="text" placeholder="Usuário" class="w-full px-4 py-2 bg-white/20 text-white placeholder-gray-300 
            border border-white/30 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
                    [field]="loginForm.username" />

                <input type="password" placeholder="Senha" class="w-full px-4 py-2 bg-white/20 text-white placeholder-gray-300
            border border-white/30 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
                    [field]="loginForm.password" />

                <button (click)="login()" [disabled]="!loginForm().valid()" class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold 
            hover:bg-blue-700 disabled:bg-blue-500/40 disabled:cursor-not-allowed 
            transition">
                    Entrar
                </button>
            </div>

            <p class="text-center text-gray-300 text-sm mt-6">
                Ainda não tem conta?
                <a routerLink="/cadastro" class="text-blue-400 hover:text-blue-300 font-semibold">
                    Criar agora
                </a>
            </p>

        </div>
    </div>

</div>